/*desktop*/
@media (min-width: 992px) {
  #mobile {
    display: none;
  }
  .lg-menu {
    display: flex;
    flex-direction: row;
    max-width: 768px;
    width: 100%;
  }
  .lg-menu > div {
    padding: 25px 15px 10px 15px;
    height: 60px;

    transition: background-color 350ms ease-in-out;
  }

  .lg-menu > div.active,
  .lg-menu > div:hover {
    background-color: #113a55;
  }

  #schools {
    display: block;
    position: absolute;
    right: 70px;
    top: 0px;
    width: 110px;
  }
  .school-nav {
    background-color: #dedede;
    font-size: small;
    font-weight: bold;
    height: 60px;
    position: relative;
    transition: background-color 250ms ease-in-out;
  }
  .school-nav span {
    position: absolute;
    top: 12px;
    left: 5px;
  }
  .school-nav:hover {
    background-color: #113a55;
  }

  .school-nav svg {
    position: relative;
    top: 7px;
    fill: #113a55;
    transform: rotate(0deg);
    transition: all 250ms ease-in-out;
  }
  .school-nav:hover svg {
    fill: #ffffff;
    transform: rotate(90deg);
  }
  .ico_chevron {
    display: inline-block;
  }
  .school-nav .nav-lnk-custom.dropdown {
    color: #113a55;
    transition: color 250ms ease-in-out;
  }
  .school-nav:hover .nav-lnk-custom.dropdown {
    color: #fff;
  }
  .school-nav .dropdown-menu,
  .dropdown-title .dropdown-menu {
    display: none;
  }
  .school-nav:hover .dropdown-menu {
    position: absolute;
    z-index: 100;
    top: 60px;
    right: 20px;
    display: block;
    background-color: #fff;
    width: 220px;
    -webkit-box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
    box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
    padding: 10px 0px 10px 0px;
  }

  .dropdown-title:hover .dropdown-menu {
    position: absolute;
    font-size: small;
    z-index: 102;
    top: 60px;
    left: 120px;
    line-height: 30px;
    display: block;
    background-color: #fff;
    width: 250px;
    -webkit-box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
    box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
    padding: 10px 0px 10px 0px;
  }
  .dropdown-menu .nav-lnk:hover {
    color: #113a55;
    text-decoration: underline;
  }
  .dropdown-menu .nav-lnk {
    color: #113a55;
    text-decoration: none;
    font-weight: bold;
  }
  .logo-section {
    justify-content: left;
    align-items: left;
  }
  .ico-wrapper {
    display: flex;
    position: absolute;
    right: 0px;
    top: 30px;
    z-index: 2;
  }

  .ico-itm {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ico_lnk img {
    transform: translateY(0);
    transition: transform 250ms ease-in-out;
  }
  .ico_lnk .txt {
    font-size: small;
    font-family: "Sintony";
    position: relative;
    top: 18px;
  }
  .ico_env,
  .ico_bus,
  .ico_cal {
    position: relative;
  }
  .ico_env {
    top: 10px;
    left: 12px;
  }
  .ico_bus {
    top: 10px;
    left: 14px;
  }
  .ico_cal {
    top: 10px;
  }
  .ico_lnk:hover img {
    transform: translateY(-6px);
    transition: transform 350ms ease-in-out;
  }
  .ico_lnk > div:first-child {
    height: 40px;
  }
  .logo-wrapper {
    position: relative;
    display: flex;
    width: 100%;
  }
  .slide-wrapper {
    display: flex;
    flex-direction: row;
  }
  .slide-wrapper > div:first-child {
    width: 60%;
  }
  .slide-wrapper > div:nth-child(2) {
    width: 40%;
  }
  #side-text {
    text-align: left;
    position: relative;
    padding: 100px 40px 100px 40px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #side-text::before {
    background-color: rgb(28, 86, 135);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  #side-text > div {
    z-index: 195;
    position: relative;
  }
  #slideshow {
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: #1c5687;
    height: auto;
    min-height: 600px;
    max-height: 800px;
    width: 100%;
  }
  .controls-wrapper {
    align-items: flex-end;
    position: absolute;
    right: 10px;
  }
}
