/*custom global blue - #1c5687*/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #333;
  font-family: "Sintony", sans-serif;

  font-size: 100%;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}
.lg-menu {
  font-size: 0.7rem;
}
p {
  font-size: 0.75rem;
  line-height: 30px;
}
img {
  max-width: 100%;
  height: auto;
}
/*text*/

.text-uppercase {
  text-transform: uppercase;
}
.text-white {
  color: #ffffff;
}
.font-bold {
  font-weight: bold;
}
.text-blue {
  color: #1c5687;
}
/*colors*/
.blue-bg {
  background-color: #1c5687;
}
.white-bg {
  background-color: #ffffff;
}
/*heading tags*/
h1,
h2,
h3,
h4 {
  color: #1c5687;
  font-weight: bolder;
}
a {
  color: #1c5687;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.nav-lnk {
  color: #ffffff;
}
/*page sections*/
.pagesection {
  padding: 20px 40px;
}
button {
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ccc;
  transition: all 250ms ease-in-out;
}
button.standard {
  color: #fff;
  background-color: #113a55;
}
button.standard:hover {
  color: #113a55;
  background-color: #fff;
}
button.custom {
  background-color: #fff;
  color: #1c5687;
}
.button-wrapper {
  position: relative;
  height: 50px;
  padding-bottom: 10px;
}
.button-wrapper > .custom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/*nav*/
header {
  padding: 0px 40px;
  height: 60px;

  position: relative;
}

.lg-menu {
  display: none;
}
.lg-menu.active {
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
  background-color: #1c5687;
  opacity: 0.9;
  width: 100%;
  top: 60px;
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  max-height: 600px;
  z-index: 102;
}
.lg-menu.active .nav-itm {
  padding-left: 40px;
  margin: 5px 0px 5px 0px;
}
.dropdown-menu .nav-itm {
  position: relative;
  left: 20px;
  line-height: 28px;
}
.mobile {
  cursor: pointer;
  display: flex;
  position: relative;
  top: 20px;
}
.mobile > div:nth-child(2) {
  padding-left: 10px;
  font-size: small;
  position: relative;
  top: 6px;
}
#schools {
  display: none;
}
/*search*/
.search-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}
.button {
  background-color: #113a55;
  height: 60px;
  overflow: hidden;
  width: 70px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.ico_search {
  position: absolute;
  left: 24px;
  top: 18px;
  height: 20px;
  width: 19px;
}

.ico_search {
  background-image: url("../img/icons/ico_search_magnify.svg");
  background-repeat: no-repeat;
  transform-origin: center;
  transform: rotate(0);
}
.ico_search.active {
  background-image: url("../img/icons/ico_search_x.svg");
  background-repeat: no-repeat;
  top: 22px;
  left: 27px;
  height: 19px;
  width: 19px;
  transform: rotate(1turn);
  transition: transform 250ms ease-in-out;
}

#search_input {
  display: none;
}
#search_input.active {
  z-index: 101;
  display: flex;
  position: absolute;
  right: 0px;
  top: 60px;
  background-color: #ffffff;
  max-width: 270px;
  width: 100%;
  padding: 30px 0px 20px 15px;
  -webkit-box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
  box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
}
input[type="search"] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-width: 200px;
  width: 100%;
}
.ico_arr {
  position: relative;
  left: 10px;
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}
.ico_arr:hover {
  transform: translateX(7px);
}
/*logo section*/
.ico-wrapper {
  display: none;
}
.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo-section h1 {
  padding-top: 20px;
}
/*slider stuff*/

.slide-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 10;
}
#slideshow {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: #1c5687;
  height: auto;
  min-height: 200px;
  max-height: 600px;
  width: 100%;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transform: scale(1);
  transition: all 0.9s ease-out;
}
.slide:nth-last-child(2) {
  opacity: 1;
  transform: scale(1.08);
}
.img1 {
  background-image: url("../img/slide_image1.png");
}
.img2 {
  background-image: url("../img/slide_image2.png");
}
.img3 {
  background-image: url("../img/slide_image3.jpg");
}
.img4 {
  background-image: url("../img/slide_image4.jpg");
}
.slide-wrapper > div:first-child {
  position: relative;
}
.controls-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.controls {
  display: flex;
  width: 150px;
}
.controls > div {
  margin: 3px;
  cursor: pointer;
  height: 45px;
  width: 80px;
  background-color: #1c5687;
  padding: 4px;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid transparent;
  transition: background-color 350ms ease-in-out;
}
.controls > div:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #1c5687;
}
.ico_back_button {
  background-image: url("../img/icons/ico_slide_arrow.svg");
}
.ico_forward_button {
  background-image: url("../img/icons/ico_chevron-right.svg");
}
.ico_pause_button {
  background-image: url("../img/icons/ico_slide_pause.svg");
}
.ico_forward_button,
.ico_back_button,
.ico_pause_button {
  background-repeat: no-repeat;
  background-position: center;
}
#side-text {
  text-align: center;
  position: relative;
  background-color: #1c5687;
  padding: 20px 40px;
}

#side-text h3,
#side-text p {
  color: #fff !important;
}
.news-wrapper {
  padding: 60px 40px;
}
.news-wrapper > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-wrapper .standard {
  margin: 20px 0px;
}
.news-itms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.news-itms > div {
  margin: 20px 0px 20px 0px;
  max-width: 300px;
}
.news-itms h3 {
  padding: 20px 0px 0px 0px;
  line-height: 28px;
  font-weight: bolder;
}
footer h4 {
  color: #fff;
}
.links-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.links-wrapper > div {
  padding: 20px;
  margin-bottom: 30px;
}
.links-wrapper p:not(:nth-child(4)) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.shortcuts {
  width: 100%;
}
.shortcuts div {
  line-height: 26px;
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
  font-size: 0.75rem;
  font-weight: bolder;
  transition: border-bottom 250ms ease-in-out;
}
.shortcuts > div:hover {
  border-bottom: 1px solid #113a55;
}
.contact-wrapper,
.important-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.contact-wrapper > div > div > span {
  display: block;
  color: #113a55;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 30px;
}
.pipe,
.comma {
  display: none !important;
}
.important-wrapper {
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-content {
  width: 100%;
  position: relative;
  height: 100px;
  margin: 30px 0px;
}
.button-content .line {
  border-bottom: 2px solid #ccc;
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
}
.button-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-content button {
  position: relative;
  margin: 10px;
}
button.svg {
  width: 140px;
}
button.svg > svg {
  position: absolute;
  left: 3px;
  top: 3px;
  fill: #fff;
}
button.svg:hover > svg {
  fill: #113a55;
}
.follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
