/*custom global blue - #1c5687*/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
}
/*text*/
p,
header {
  line-height: 26px;
  font-family: "Sintony", sans-serif;
  font-size: 0.9rem;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-white {
  color: #ffffff;
}
.font-bold {
  font-weight: bold;
}
.text-blue {
  color: #1c5687;
}
/*colors*/
.blue-bg {
  background-color: #1c5687;
}
.white-bg {
  background-color: #ffffff;
}
/*heading tags*/
h1,
h2,
h3,
h4 {
  font-family: "Sintony", sans-serif;
  color: #1c5687;
  font-weight: bolder;
}
a {
  color: #1c5687;
}
a.nav-lnk {
  color: #ffffff;
}
/*page sections*/
.pagesection {
  padding: 20px 40px;
}

/*nav*/
header {
  padding: 0px 40px;
  height: 60px;

  position: relative;
}

.lg-menu {
  display: none;
}
.lg-menu.active {
  padding-top: 10px;
  display: block;
  background-color: #1c5687;
  opacity: 0.9;
  width: 100%;
  top: 60px;
  position: absolute;
  left: 0;
  right: 0;
  max-height: 440px;
}
.lg-menu.active .nav-itm {
  padding-left: 40px;
  margin: 5px 0px 5px 0px;
}
.dropdown-menu div {
  position: relative;
  left: 20px;
}
.mobile {
  cursor: pointer;
  display: flex;
  position: relative;
  top: 20px;
}
.mobile > div:nth-child(2) {
  padding-left: 10px;
  font-size: small;
}
#schools {
  display: none;
}
/*search*/
.search-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}
.button {
  background-color: #113a55;
  height: 60px;
  overflow: hidden;
  width: 70px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.ico_search {
  position: absolute;
  left: 24px;
  top: 18px;
  height: 20px;
  width: 19px;
}

.ico_search {
  background-image: url("../img/icons/ico_search_magnify.svg");
  background-repeat: no-repeat;
  transform-origin: center;
  transform: rotate(0);
}
.ico_search.active {
  background-image: url("../img/icons/ico_search_x.svg");
  background-repeat: no-repeat;
  top: 22px;
  left: 27px;
  height: 19px;
  width: 19px;
  transform: rotate(1turn);
  transition: transform 250ms ease-in-out;
}

#search_input {
  display: none;
}
#search_input.active {
  display: flex;
  position: absolute;
  right: 0px;
  top: 60px;
  padding: 10px;
  background-color: #ffffff;
  max-width: 400px;
  width: 100%;
  padding: 30px 0px 20px 30px;
  -webkit-box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
  box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
}
input[type="search"] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
}
.ico_arr {
  position: relative;
  left: 20px;
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}
.ico_arr:hover {
  transform: translateX(7px);
}
/*logo section*/
.ico-wrapper {
  display: none;
}
.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo-section h1 {
  padding-top: 20px;
}
@media (min-width: 640px) {
  .logo-section {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .logo-section > div:first-child {
    padding-right: 15px;
  }
}
/*desktop*/
@media (min-width: 992px) {
  #mobile {
    display: none;
  }
  .lg-menu {
    display: flex;
    flex-direction: row;
    max-width: 768px;
    width: 100%;
  }
  .lg-menu > div {
    padding: 20px 15px 10px 15px;
    height: 60px;
    transition: background-color 350ms ease-in-out;
  }

  .lg-menu > div.active,
  .lg-menu > div:hover {
    background-color: #113a55;
  }

  #schools {
    display: block;
    position: absolute;
    right: 70px;
    top: 0px;
    width: 110px;
  }
  .school-nav {
    background-color: #dedede;
    font-size: small;
    font-weight: bold;
    height: 60px;
    position: relative;
    transition: background-color 250ms ease-in-out;
  }
  .school-nav span {
    position: absolute;
    top: 12px;
    left: 5px;
  }
  .school-nav:hover {
    background-color: #113a55;
  }

  .school-nav svg {
    position: relative;
    top: 7px;
    fill: #113a55;
    transform: rotate(0deg);
    transition: all 250ms ease-in-out;
  }
  .school-nav:hover svg {
    fill: #ffffff;
    transform: rotate(90deg);
  }
  .ico_chevron {
    display: inline-block;
  }
  .school-nav .nav-lnk-custom.dropdown {
    color: #113a55;
    transition: color 250ms ease-in-out;
  }
  .school-nav:hover .nav-lnk-custom.dropdown {
    color: #fff;
  }
  .school-nav .dropdown-menu,
  .dropdown-title .dropdown-menu {
    display: none;
  }
  .school-nav:hover .dropdown-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    display: block;
    background-color: #fff;
    width: 220px;
    -webkit-box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
    box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
    padding: 10px 0px 10px 0px;
  }

  .dropdown-title:hover .dropdown-menu {
    position: absolute;
    font-size: small;
    top: 60px;
    left: 120px;
    line-height: 30px;
    display: block;
    background-color: #fff;
    width: 250px;
    -webkit-box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
    box-shadow: -9px 12px 31px -9px rgba(82, 82, 82, 0.8);
    padding: 10px 0px 10px 0px;
  }
  .dropdown-menu .nav-lnk:hover {
    color: #113a55;
    text-decoration: underline;
  }
  .dropdown-menu .nav-lnk {
    color: #113a55;
    text-decoration: none;
    font-weight: bold;
  }
  .logo-section {
    justify-content: left;
    align-items: left;
  }
  .ico-wrapper {
    display: flex;
    position: absolute;
    right: 0px;
    top: 30px;
  }
  .ico-wrapper p {
    font-size: small;
  }
  .ico-itm {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ico_lnk img {
    transform: translateY(0);
    transition: transform 350ms ease-in-out;
  }
  .ico_env,
  .ico_bus,
  .ico_cal {
    position: relative;
  }
  .ico_env {
    top: 10px;
    left: 12px;
  }
  .ico_bus {
    top: 10px;
    left: 14px;
  }
  .ico_cal {
    top: 10px;
  }
  .ico_lnk:hover img {
    transform: translateY(-6px);
    transition: transform 350ms ease-in-out;
  }
  .logo-wrapper {
    position: relative;
    display: flex;
    width: 100%;
  }
}
