@media (min-width: 640px) {
  .logo-section {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .logo-section > div:first-child {
    padding-right: 15px;
  }
  #side-text {
    text-align: left;
  }
  .button-wrapper > .custom {
    position: absolute;
    left: 0%;
    transform: translateX(0);
  }
  .controls-wrapper {
    align-items: flex-end;
  }
  #slideshow {
    height: auto;
    min-height: 400px;
    max-height: 600px;
    width: 100%;
  }
  .news-wrapper > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .news-itms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
  }
  .news-itms > div {
    max-width: 300px;
  }
  .links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .links-wrapper > div {
    width: 48%;
  }

  .contact-wrapper > div,
  .important-wrapper > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-wrapper > div > div > span:nth-child(2),
  .contact-wrapper > div > div > span,
  .comma {
    display: inline !important;
  }
  .pipe {
    display: inline-block !important;
    padding: 0px 10px 0px 13px;
    font-weight: 200;
  }
  .important-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
